<nav class="navbar navbar-expand-xl navbar-dark bg-dark pmd-navbar pmd-z-depth fixed-top border-bottom">
  <button class="navbar-toggler pmd-navbar-toggle" type="button" data-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="{% url 'kitchen:index' %}">Kitchen Service</a>
  <div class="collapse navbar-collapse pmd-navbar-sidebar" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
          <a class="nav-link" href="{% url 'kitchen:dish-type-list' %}">Dish types</a>
      </li>

      <li class="menu-span-vertical-e nav-item"></li>

      <li class="nav-item">
          <a class="nav-link" href="{% url 'kitchen:cook-list' %}">Cooks</a>
      </li>

      <li class="menu-span-vertical-e nav-item"></li>

      <li class="nav-item">
          <a class="nav-link" href="{% url 'kitchen:dish-list' %}">Dishes</a>
      </li>

      <li class="menu-span-vertical-line nav-item"></li>

      {% if user.is_authenticated %}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            User: {{ user.get_username }}
          </a>

          <div class="dropdown-menu bg-secondary" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'kitchen:cook-detail' pk=user.id %}">My page</a>
            <a class="dropdown-item" href="{% url 'kitchen:cook-update' pk=user.id %}">Update</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout'%}?next={{request.path}}">Logout</a>
          </div>
        </li>

      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
      {% endif %}

    </ul>
  </div>
</nav>